<div class="divDemoBody">
    <div id="windowTitleDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">&times;</a>
            <h3>Создание новой персоны</h3>
            </div>
        <div class="modal-body">
            <div class="divDialogElements">
                <div id = "newPersonForm">
                    <%= form_for(Person.new) do |f| %>
                        <div class="hero-unit" style="font-size:14px; padding-top: 10px; padding-bottom: 10px; background-color: white; text-align: center;">
                            <b>Имя:</b><br>
                            <%= f.text_field :name %><br>
                            <b>Дата рождения:</b><br>
                            <%= f.date_field :birth %><br> 
                        </div>
                    </div>
                </div>
            </div>
        <div class="modal-footer">
            <a href="#" class="btn" onclick="closeDialog ('windowTitleDialog');">Отмена</a>
            <%= f.submit :class => "btn", :value => "Создать" %>
            <% end %>
            </div>
        </div>
    </div>

<div class="container" style="padding-top: 10px; padding-bottom: 30px; width: 98%;">

    <p id="notice"><%= notice %></p>

    <table id="navigationTable" class="table table-condensed" style="width: 100%;">

        <tr>
            <td style="width: 50%;">
                <b>Первая персона:</b>
                <select name="firstPersons" id="firstPersons" onchange="plotAccordingToChoicesChangePerson(0)">
                </select>
                <div id = "firstName">
                </div>
            </td>
            <td style="width: 50%;">
                <b>Вторая персона:</b>
                <select name="otherPersons" id="otherPersons" onchange="plotAccordingToChoicesChangePerson(1)">
                </select>
                <div id = "secondName">
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div id="firstDates" align="center"></div>
            </td>
            <td>
                <div id="secondDates" align="center"></div>
            </td>
        </tr>

        <tr>
            <td>
                <div id="firstCustomDate" align="center"></div>
            </td>
            <td>
                <div id="secondCustomDate" align="center"></div>
            </td>
        </tr>

        <tr>
            <td>
                <div id='choicestable' align="center"></div>
            </td>
            <td>
                <div id='choicestableotherperson' align="center"></div>
            </td>
        </tr>

    </table>

<%= render "graph2"%>
</div>

<script type="text/javascript">

function showNew()
  {
    var elem = document.getElementById("newPersonForm");
    if(elem.style.display == 'block') elem.style.display = 'none';
    else elem.style.display = 'block';
  }

  $(document).ready(function() {
                $('#windowTitleDialog').bind('show', function () {
                    });
                $('#windowTitleDialog2').bind('show', function () {
                    });
  });
  function closeDialog (name) 
  {
      $('#' + name).modal('hide'); 
  };
  function okClicked (name) 
  {
      closeDialog (name);
  };


</script>