<div class="divDemoBody">
    <div id="windowTitleDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">&times;</a>
            <h3>Создание новой персоны</h3>
            </div>
        <div class="modal-body">
            <div class="divDialogElements">
                <div id = "newPersonForm">
                    <%= form_for(Person.new) do |f| %>
                        <div class="hero-unit" style="font-size:14px; padding-top: 10px; padding-bottom: 10px; background-color: white; text-align: center;">
                            <b>Имя:</b><br>
                            <%= f.text_field :name %><br>
                            <b>Дата рождения:</b><br>
                            <%= f.date_field :birth %><br>
                            <b>Примечание:</b><br>
                            <%= f.text_field :description %><br>
                        </div>
                    </div>
                </div>
            </div>
        <div class="modal-footer">
            <a data-target="#" class="btn" onclick="closeDialog ('windowTitleDialog');">Отмена</a>
            <%= f.submit :class => "btn", :value => "Создать" %>
            <% end %>
            </div>
        </div>
    </div>

<div class="container" style="padding-top: 10px; padding-bottom: 30px; width: 98%;">

    <table id="navigationTable" class="table table-condensed" style="width: 100%;">

        <tr>
            <td style="width: 50%;">
                <div class="left">
                    <select name="firstPersons" id="firstPersons" onchange="plotAccordingToChoicesChangePerson(0, false)">
                    </select>
                </div>
                <div id = "firstName" class="right">
                </div>
            </td>
            <td style="width: 50%;">
                <div class="left">
                    <select name="otherPersons" id="otherPersons" onchange="plotAccordingToChoicesChangePerson(1, false)">
                    </select>
                </div>
                <div id = "secondName" class="right">
                </div>
            </td>
        </tr>

        <tr>
            <td style="width: 50%;">
                <div id = "firstDescription" class="text-left">
                        
                </div> 
            </td>
            <td style="width: 50%;">
                <div id = "secondDescription" class="text-left">
                        
                </div> 
            </td>
        </tr>

        <tr>
            <td>
                <div id="firstDates" align="center"></div>
            </td>
            <td>
                <div id="secondDates" align="center"></div>
            </td>
        </tr>

        <tr>
            <td>
                <div id="firstCustomDate" align="center"></div>
            </td>
            <td>
                <div id="secondCustomDate" align="center"></div>
            </td>
        </tr>

    </table>
    
    <div class="accordion" id="accordion5">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#collapseFour">
            Выбор графиков
          </a>
        </div>
        <div id="collapseFour" class="accordion-body collapse">
          <div class="accordion-inner">
            <table id="navigationTable" class="table table-condensed" style="width: 100%;">

                <tr>
                    <td>
                        <div id='choicestable' align="center"></div>
                    </td>
                    <td>
                        <div id='choicestableotherperson' align="center"></div>
                    </td>
                </tr>

            </table>
          </div>
        </div>
      </div>
    </div>

<%= render "graph2"%>
</div>

<script type="text/javascript">

  function closeDialog (name) 
  {
      $('#' + name).modal('hide'); 
  };
  function okClicked (name) 
  {
      closeDialog (name);
  };


</script>